*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out

*.nav
*.snm
*.toc

*.synctex.gz
*-eps-converted-to.pdf

*.bcf
*.run.xml

*.pdf

.idea/
.ipynb_checkpoints/

*.txt
*.mat
*.asv

YearPredictionMSD.txt*
